/* VARIABLES */

:root {
  /* COLORS */

  --clr-blue-50: 210 46% 95%; /* Light Grayish Blue */
  --clr-blue-300: 212 23% 69%; /* Grayish Blue */
  --clr-blue-400: 214 17% 51%; /* Desaturated Dark Blue */
  --clr-blue-600: 217 19% 35%; /* Very Dark Grayish Blue */

  --clr-white: 0 0% 100%;

  /* FONT */

  --ff-sans: 'Manrope', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;

  /* MISC */

  --rounded-md: 0.625em;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  display: inline-block;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: transparent;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.bg-blue-50 {
  background-color: hsl(var(--clr-blue-50));
}

.bg-blue-400 {
  background-color: hsl(var(--clr-blue-400));
}

.bg-blue-600 {
  background-color: hsl(var(--clr-blue-600));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-blue-50 {
  color: hsl(var(--clr-blue-50));
}

.text-blue-300 {
  color: hsl(var(--clr-blue-300));
}

.text-blue-400 {
  color: hsl(var(--clr-blue-400));
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.center {
  align-items: center;
  justify-content: center;
}

.btn {
  aspect-ratio: 1;
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

/* BASE */

body {
  font: var(--fw-medium) 1rem var(--ff-sans);
  padding: 1.5em;
}

h1,
h2 {
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-blue-600));
}

/* CARD */

.card {
  max-width: 45.625em;
  position: relative;
  gap: 2.25em;
  border-radius: var(--rounded-md);
  box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.1);
}

.card__img-wrapper {
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  overflow: hidden;
}

.card__img {
  height: 12.5em;
  object-fit: cover;
  object-position: center 25%;
}

.card__body {
  padding: 0 2em 1.25em;
  line-height: 1.5;
}

.card__title {
  letter-spacing: 0.0125em;
  margin-bottom: 0.75em;
}

.card__summary {
  font-size: 0.8125rem;
  letter-spacing: 0.00625em;
  padding-right: 0.15em;
}

.card__footer {
  margin-top: 2em;
  grid-template-columns: 2.5em 1fr 2em;
  gap: 1em;
}

.card__avatar-img-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.card__author {
  font-size: 0.8125rem;
}

.card__share-btn.active,
.card__share-btn:where(:hover, :focus-visible) {
  background-color: hsl(var(--clr-blue-400));
  color: hsl(var(--clr-blue-50));
}

/* SHARE POPUP */

.card__popup {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  gap: 1.3125em;
  padding: 1em 2em;
  border-radius: 0 0 var(--rounded-md) var(--rounded-md);
}

.card__popup.show {
  display: flex;
}

.card__popup-title {
  font-size: 0.8125rem;
  font-weight: var(--fw-medium);
  letter-spacing: 0.377em;
  text-transform: uppercase;
  color: hsl(var(--clr-blue-400));
}

.card__popup-social-list {
  gap: 1em;
}

.card__popup-social-link {
  display: block;
}

.card__popup-btn {
  width: 2em;
  margin-left: auto;
}

.card__popup-btn:where(:hover, :focus-visible) {
  background-color: hsl(var(--clr-blue-50));
  color: hsl(var(--clr-blue-400));
}

@media screen and (min-width: 48em) {
  /* CARD */

  .card {
    flex-direction: row;
    gap: 0;
  }

  .card__img-wrapper {
    width: 17.8125em;
    height: 100%;
    border-radius: var(--rounded-md) 0 0 var(--rounded-md);
  }

  .card__img {
    height: 100%;
    object-position: left;
  }

  .card__body {
    padding: 2em 2.5em 2em;
  }

  .card__title {
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 0.6em;
  }

  .card__summary {
    padding: 0;
  }

  .card__footer {
    margin-top: 1.25em;
  }

  /* POPUP */

  .card__popup {
    width: unset;
    padding: 1.125em 2.25em;
    border-radius: var(--rounded-md);
    bottom: 6em;
    left: unset;
    right: -4.25em;
  }

  .card__popup::before {
    content: '';
    width: 1.0625em;
    aspect-ratio: 1;
    background-color: inherit;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .card__popup-btn {
    display: none;
  }
}
