/* VARIABLES */

:root {
  /* COLORS */

  --clr-blue-50: 210 46% 95%; /* Light Grayish Blue */
  --clr-blue-300: 212 23% 69%; /* Grayish Blue */
  --clr-blue-400: 214 17% 51%; /* Desaturated Dark Blue */
  --clr-blue-600: 217 19% 35%; /* Very Dark Grayish Blue */

  --clr-white: 0 0% 100%;

  /* FONT */

  --ff-sans: 'Manrope', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;

  /* MISC */

  --rounded-md: 0.625em;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  display: inline-block;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: transparent;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* BASE */

body {
  font: var(--fw-medium) 1rem var(--ff-sans);
  background-color: hsl(var(--clr-blue-50));
  color: hsl(var(--clr-blue-400));
  display: grid;
  place-content: center;
  padding: 1.5em;
}

h1,
h2 {
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-blue-600));
}

/* CARD */

.card {
  max-width: 45.625em;
  position: relative;
  background-color: hsl(var(--clr-white));
  display: flex;
  flex-direction: column;
  gap: 2.25em;
  border-radius: var(--rounded-md);
  box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.1);
}

.card__img-wrapper {
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  object-position: center 25%;
}

.card__body {
  padding: 0 2em 1.25em;
  line-height: 1.5;
}

.card__title {
  letter-spacing: 0.0125em;
  margin-bottom: 0.75em;
}

.card__summary {
  font-size: 0.8125rem;
  letter-spacing: 0.00625em;
  padding-right: 0.15em;
}

.card__footer {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 2.5em 1fr 2em;
  align-items: center;
  gap: 1em;
}

.card__avatar-img-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.card__author {
  font-size: 0.8125rem;
}

.card__timestamp {
  color: hsl(var(--clr-blue-300));
}

.card__share-btn {
  aspect-ratio: 1;
  background-color: hsl(var(--clr-blue-50));
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.card__share-btn:where(:hover, :focus-visible) {
  background-color: hsl(var(--clr-blue-600));
}

.card__share-btn:where(:hover, :focus-visible) img {
  filter: brightness(0) invert(1);
}
